<div>
  <br />
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">
      Create New Applicant
    </button>
    <br /><br />
    <mat-divider></mat-divider>
    <br />
    <table mat-table [dataSource]="applicants">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">
          First Name
        </th>
        <td mat-cell *matCellDef="let element" class="mat-column-left">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">
          Last Name
        </th>
        <td mat-cell *matCellDef="let element" class="mat-column-left">
          {{ element.surname }}
        </td>
      </ng-container>
      <ng-container matColumnDef="ssn">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">SSN</th>
        <td mat-cell *matCellDef="let element" class="mat-column-left">
          {{ element.ssn }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">
          Date of Birth
        </th>
        <td mat-cell *matCellDef="let element" class="mat-column-left">
          {{ element.dob }}
        </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">
          Gender
        </th>
        <td mat-cell *matCellDef="let element" class="mat-column-left">
          {{ element.gender }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
